---
layout: index
title: all posts
permalink: /allposts/
---

<div class="container">
  <div id="all-posts-tip">
    {% include tags-buttons.html %}
  </div>
  <div class="all-posts">
    <ul class="posts">
      {% for tag in site.tags %}
        <li id="{{ tag[0] }}"  style="padding-top: 50px;">
          <span class="label label-primary">Tag: {{ tag[0] }}</span>
        </li>
        {% for post in tag[1] %}
          <li class="post">
            <div class="post-title">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </div>
            <div class="post-date">
              {{ post.date | date_to_string }}
            </div>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
<script>
$(document).ready(function (){
  var postsTip = $('#all-posts-tip');
  $(window).bind("scroll", function(){
    var osTop = $(document).scrollTop();
    if(osTop <= 300){
      postsTip.css('top', (360) + 'px');
    }else{
      postsTip.css('top', (osTop + 60) + 'px');
    }
  });
  $(window).trigger('scroll');
});
</script>
