---
layout: index
title: MaPan - Blog
---

<ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active">
  <a href="#postlist" aria-controls="postlist" role="tab" data-toggle="tab">
    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> PostList
  </a>
  </li>
  <li role="presentation">
  <a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">
    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags
  </a>
  </li>
  <li role="presentation">
  <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
  </a>
  </li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="postlist">
    {% include posts-list.html %}
  </div>
  <div role="tabpanel" class="tab-pane fade" id="tags">
    {% include tags-buttons.html %}
  </div>
  <div role="tabpanel" class="tab-pane fade" id="profile">
    {% include profile.html %}
  </div>
</div><!-- tab-content -->
