---
layout: default
title: MaPan - Blog
---

{% for post in paginator.posts %}
<h2>{{ post.title }}</h2>
<div class="posts">
    <li class="post">
        <div class="post-thumbnail">
            <a href="/">
                <img class="img-rounded profile-thumbnail" 
                src="/images/mapan.jpg" style="width:40px; height:40px;">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">
                {{ post.date | date_to_string }}
            </div>
            <div class="post-author">
                <a href="/">
                    MaPan1984
                </a>
            </div>
            <div class="post-body">
                {{ post.content }}
            </div>
            <div class="post-footer">
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </div>
        </div>
    </li>
</div>
{% endfor %}
{% include paginator.html %}
