<nav class="navbar">
  <div class="container flex">
    <ul>
      <li><a href="{{ "/" | relative_url }}">Home</a></li>
      <li><a href="{{ "/blog/category/" | relative_url }}">Category</a></li>
      <li><a href="{{ "/blog/tag/" | relative_url }}">Tag</a></li>
    </ul>

    <div class="dropdown">
      <button class="dropbtn">More</button>
      <div class="dropdown-menu">
        <a href="{{ "/blog/allposts/" | relative_url }}">All Posts</a>
        <a href="{{ "/kafka-manual/" | relative_url }}">kafka manual</a>
      </div>
    </div>
  </div>
</nav>
