<nav>
  <ul class="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a href="{{ site.url }}">&laquo;</a></li>
      {% else %}
        <li>
          <a href="{{ site.url }}{{ paginator.previous_page_path }}">&laquo;</a>
        </li>
      {% endif %}
    {% else %}
      <li class="disabled">
        <a href="#">&laquo;</a>
      </li>
    {% endif %}

    {% for count in (1..paginator.total_pages) %}
      {% if count == 1 %}
        {% if paginator.page ==1 %}
          <li class="active">
            <a href="#">1</a>
          </li>
        {% else %}
          <li>
            <a href="{{ site.url }}">1</a>
          </li>
        {% endif %}
      {% else %}
        {% if count == paginator.page %}
          <li class="active">
            <a href="#">{{ count }}<span class="sr-only">(current)</span></a>
          </li>
        {% else %}
          <li>
            <a href="{{ site.url }}/page{{ count }}/">{{ count }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li>
        <a href="{{ site.url }}{{ paginator.next_page_path }}">&raquo;</a>
      </li>
    {% else %}
      <li class="disabled"><a href="#">&raquo;</a></li>
    {% endif %}
  </ul>
</nav>
