<div class="pagination">
  <!-- 上一页按钮 -->
  {% if paginator.previous_page %}
    <a href="{{ site.url }}{{ paginator.previous_page_path }}">&laquo;</a>
  {% else %}
    <a class="disabled" href="#">&laquo;</a>
  {% endif %}

  <!-- 第一页就是首页，路径不是 /page:num/，需要特殊处理 -->
  {% if paginator.page == 1 %}
    <a class="active" href="#">1</a>
  {% else %}
    <a href="{{ site.url }}">1</a>
  {% endif %}

  <!-- 其余页路径为 /page:num/，num 从 2 开始 -->
  {% for index in (2..paginator.total_pages) %}
    {% if index == paginator.page %}
      <a class="active" href="#">{{ index }}</a>
    {% else %}
      <a href="{{ site.url }}/page{{ index }}/">{{ index }}</a>
    {% endif %}
  {% endfor %}

  <!-- 下一页按钮 -->
  {% if paginator.next_page %}
    <a href="{{ site.url }}{{ paginator.next_page_path }}">&raquo;</a>
  {% else %}
    <a class="disabled" href="#">&raquo;</a>
  {% endif %}
</div>
