    <div class="post-footer">
        <ul class="pager">
          {% if page.previous %}
            <li class="previous"><a href="{{ page.previous.url }}"><span aria-hidden="true">&larr;</span> Older</a></li>
          {% else %}
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
          {% endif %}
          {% if page.next %}
            <li class="next"><a href="{{ page.next.url }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
          {% else %}
            <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
          {% endif %}
        </ul>
    </div><!-- post-footer -->
