{% if site.github_username %}
<p>
  <a href="https://github.com/{{ site.github_username }}">
    <span class="icon">{% include icon-github.svg %}</span>
    <span class="username">{{ site.github_username }}</span>
  </a>
</p>
{% endif %}
<p class="rss-subscribe">
  <a href="{{ "/feed.xml" | relative_url | prepend: site.baseurl }}">
    <span class="icon">{% include icon-rss.svg %}</span>
    subscribe via rss
  </a>
</p>
<p>
  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  <a href="mailto:mapan1984@outlook.com">mapan1984@outlook.com</a>
</p>
