<div class="container">
    {% include pre_tags.html %}
    <ul class="posts">
        {% for tag in site.tags %}
        <li id="{{ tag[0] }}"  style="position: relative; padding-top: 50px;" class="tag-list">
            <span class="label label-default">{{ tag[0] }}</span>
        </li>
            {% for post in tag[1] %}
                <li class="post-list">
                <div class="post-list-content">
                    <div class="post-list-date">
                        {{ post.date | date_to_string }}
                    </div>
                    <div class="post-footer">
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    </div>
                </div>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
