/*
 * allposts
 */
#all-posts-tip {
    width: 40%;
    margin: 0px 20px;
    position: absolute;
    top: 60px;
    right: 20px;

    a {
        margin: 3px;
    }
}
div.all-posts {
    width: 50%;
    float: left;
}
