---
layout: default
title: all posts
---

<div class="container">
  <div id="all-posts-tip">
    {% include tags-buttons.html %}
  </div>
  <div class="all-posts">
    <ul class="posts">
      {% for tag in site.tags %}
        <li id="{{ tag[0] }}"  style="padding-top: 50px;" class="tag-list">
          <span class="label label-default">{{ tag[0] }}</span>
        </li>
        {% for post in tag[1] %}
          <li class="post-list">
            <div class="post-list-date">
              {{ post.date | date_to_string }}
            </div>
            <div class="post-list-title">
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </div>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
{% include js.html %}
<script>
window.onload = function(){
  var ptip = document.getElementById('all-posts-tip');
  window.onscroll = function(){
    var osTop = document.documentElement.scrollTop || document.body.scrollTop;
    ptip.style.top=60 + osTop + 'px';
  }
}
</script>
