---
layout: index
title: tag
---

<div class="container">
  <div class="tabs">
    {% assign isfirst = 1 %}

    {% for tag in site.tags %}

      {% if isfirst == 1 %}
        <input type="radio" class="tabs__radio" name="tabs" id="{{ tag[0] }}" checked>
        {% assign isfirst = 0 %}
      {% else %}
        <input type="radio" class="tabs__radio" name="tabs" id="{{ tag[0] }}">
      {% endif %}

        <label for="{{ tag[0] }}" class="tabs__label">
          {{ tag[0] }} <span>{{ tag[1].size }}</span>
        </label>

        <div class="tabs__content">
          <ul class="posts">
            {% for post in tag[1] %}
              <li class="post">
                <div class="post-title">
                  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </div>
                <div class="post-date">
                  {{ post.date | date_to_string }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
    {% endfor %}
  </div>
</div>
