---
---
/*
 * Our Globals variables
 */
$base-font-family: "Microsoft YaHei", Georgia, "Times New Roman", Times, serif;
$base-boder: 1px solid #e0e0e0;
/*
 * Globals
 */
body {
    font-family: $base-font-family;
    color: #555;
    background-color: rgba(247, 247, 247, 0.4);
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
a {
    &:link, visited {
        text-decoration: none;
    }
}
/*
 * post-list
 */
ul.posts {
    list-style-type: none;
    padding: 1px;
    margin: 0px 5px 0px 5px;
    border-top: $base-boder;

    > li.post {
        padding: 8px;
        min-height: 24px;
        border-bottom: $base-boder;

        &:hover {
            background-color: #f0f0f0;
        }

        > div.post-date {
            float: right;
        }
    }
}
/*
 * tags-buttons
 */
div.tags-buttons {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;

    a {
        margin: 3px;
    }
}
/*
 * profile
 */
div.profile {
    min-height: 260px;

    svg {
        display: inline-block;
        width: 15px;
        height: 15px;
        vertical-align: middle;

        path {
            fill: #828282;
        }
    }
}
/*
 * post header, body, tip
 */
div.post-header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: $base-boder;

    > div.post-title {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 60px;
        font-weight: normal;
    }

    > div.post-tags {
        float: right;
        margin-top: -40px;
        font-weight: bold;
    }

    > div.post-date {
        float: right;
        margin-top: -18px;
    }
}
div.post-body {
    margin: 5px;
    padding: 8px;

    border: {
        top: $base-boder;
        bottom: $base-boder;
    }

    > div.post-content {
        margin-top: 55px; /*为了抵消文章标题带来的偏移（margin/padding）*/
        line-height: 1.75;
        font-size: 16px;

        &:hover {
            background-color: #f0f0f0;
        }

        .clickable-header {  /* 所有的标题 */
            padding-top: 55px;
            margin-top: -55px;
            color:#3776ab;
        }
        table {
            font-size: 12px;
            line-height: 1.2;
        }
    }

    > div.post-turn {
        border: {
            top: $base-boder;
            bottom: $base-boder;
        }
        margin: 0 auto;
    }
}
div.post-tip {
    #toc {
        position: fixed;
        padding: 2px;
        top: 190px;
    
        > span {
            position: relative;
            bottom: 10px;
        }
    }
    #back-to-top {
        position: fixed;
        bottom:30px; 
    }
}
// 控制post-body和post-tip的显示
@media (min-width: 768px){
    div.post-body {
        width: 70%;
        float: left;
    }
    div.post-tip {
        display: block;
        width: 20%;
        float: right;
        margin-left: 15px;
    }
}
@media (max-width: 768px){
    div.post-body {
        width: 100%;
    }
    div.post-tip {
        display: none;
    }
}
/*
 * allposts
 */
#all-posts-tip {
    width: 40%;
    margin: 0px 20px;
    position: absolute;
    right: 20px;
    top: 60px;

    a {
        margin: 3px;
    }
}
div.all-posts {
    width: 50%;
    float: left;
}

// Import  sysntax-highlight
@import "syntax-highlighting"
