ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-content {
    margin-left: 2px;
    min-height: 24px;
}
div.post-date {
    float: right;
    font-weight: bold;
}
div.post-title {
    float: left;
    font-weight: bold;
}
