div.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
div.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-title {
    float: left;
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-author {
    font-weight: bold;
}
.profile-thumbnail {
    position: absolute;
}
img.profile-thumbnail {
    position: absolute;
    height:256px;
    width:256px;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
.feature {
    padding: 30px 0;
}
div.page-index {
    min-height: 460px;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

