div.post-content {
    list-style-type: none;
    min-height: 48px;
    margin: 16px 0px 0px 0px;
    padding: 8px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
div.post-content:hover {
    background-color: #f0f0f0;
}
div.post-tags {
    float: right;
    margin-top: -38px;
    font-weight: bold;
}
div.post-date {
    float: right;
    margin-top: -18px;
}
div.post-footer {
    margin: 0 auto;
}
#toc {
   position: fixed;
   top: 150px;
}
.anchor {
    padding-top: 55px;
}
.clickable-header {
  cursor:pointer;
}
.clickable-header:hover {
  text-decoration:underline;
}
.top-level-header {
  display:inline;
}
.back-to-top {
  margin-left:5px;
  cursor:pointer;
}
