div.post {
    list-style-type: none;
    margin: 16px 0px 0px 0px;
    padding: 8px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
div.post:hover {
    background-color: #f0f0f0;
}
div.post-content {
    min-height: 48px;
}
div.post-tags {
    float: right;
    padding-top: 3px;
    font-weight: bold;
}
div.post-date {
    margin-bottom: 3px;
    float: right;
}
