/*
 * post header, body, tip
 */
div.post-header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: $base-boder;

    > div.post-title {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 60px;
        font-weight: normal;
    }

    > div.post-tags {
        float: right;
        margin-top: -40px;
        font-weight: bold;
    }

    > div.post-date {
        float: right;
        margin-top: -18px;
    }
}

div.post-body {
    margin: 5px;
    padding: 8px;

    border: {
        top: $base-boder;
        bottom: $base-boder;
    }

    > div.post-content {
        margin-top: 55px; /*为了抵消文章标题带来的偏移（margin/padding）*/

        // h1, h2, h3, h4, h5, h6  {
        //   font-family: sans-serif;
        // }

        // p {
        //     font-size: 14px;
        //     line-height: 1.428;
        // }

        .clickable-header {  /* 所有的标题 */
            padding-top: 85px;
            margin-top: -55px;
            color: #3776ab;
        }

        table {
            font-size: 12px;
            line-height: 1.2;
        }

        img {
            margin: 0 auto;
            display: block;

            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    > div.post-turn {
        border: {
            top: $base-boder;
            bottom: $base-boder;
        }
        margin: 0 auto;
    }
}

div.post-tip {
    #toc {
        position: fixed;
        padding: 2px;
        top: 260px;

        > span {
            position: relative;
            bottom: 10px;
        }
    }

    #back-to-top {
        position: fixed;
        bottom: 30px;
    }
}

// 控制 post-body 和 post-tip 的显示
@media (min-width: 768px){
    div.post-body {
        width: 70%;
        float: left;
    }
    div.post-tip {
        display: block;
        width: 20%;
        float: right;
        margin-left: 15px;
    }
}

@media (max-width: 768px){
    div.post-body {
        width: 100%;
    }
    div.post-tip {
        display: none;
    }
}
