.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs__label {
    padding: 10px 16px;
    cursor: pointer;
}

.tabs__radio {
    display: none;
}

.tabs__content {
    order: 1;
    width: 100%;
    display: none;
}

.tabs__radio:checked + .tabs__label {
    font-weight: bold;
    color: var(--green);
    border-bottom: 2px solid var(--light-green);
}

.tabs__radio:checked + .tabs__label + .tabs__content {
    display: initial;
}
