<!DOCTYPE html>
<html lang="en-us">
<head>
{% include css.html %}
</head>
<body>
<div class="jumbotron">
    <h1>Share and Record</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

    <div class="container page-index">
      <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#postlist" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> PostList
              </a></li>
              <li><a href="#tags" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Tags
              </a></li>
              <li><a href="#profile" role="tab" data-toggle="tab">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile
              </a></li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="recentpost">
              <div class="row feature">
                   {{ content }}
              </div>
          </div>
          <div class="tab-pane" id="postlist">
              <div class="row feature">
              {% include postlist.html %}
              </div>
          </div>
          <div class="tab-pane" id="tags">
              <div class="row feature">
              {% include tags.html %}
              </div>
          </div>
          <div class="tab-pane" id="profile">
              <div class="row feature">
              {% include profile.html %}
              </div>
          </div>
      </div><!-- tab-content -->
    </div><!-- container -->
</div><!-- jumbotron -->
{% include js.html %}
</body>
</html>
