---
title: MaPan - Blog
---

<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {% include head.html %}
</head>
<body style="position: relative; padding-top: 45px;">
  {% include nav.html %}
  <div class="jumbotron">
    <div class="container">
      <h1>Share and Record</h1>
      <p>The best time to plant a tree was 10 years ago, The second best time is now.</p>
      <p><a class="btn btn-primary btn-lg" 
            href="https://github.com/mapan1984/mapan1984.github.io" 
            role="button">Learn more</a></p>
    </div>
  </div>
  <div class="container content">
    {{ content }}
  </div>
  <footer>
    <p>Blog built by <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
    <p> <a href="#">Back to top</a> </p>
  </footer>
  <!-- <script src="/scripts/bootstrap.min.js"></script>-->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src={{ "/assets/scripts/blog.js" | relative_url }} type="text/javascript"></script>
</body>
</html>
