---
title: {{ page.title }}
---

<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {% include head.html %}
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
  </script>
</head>
<body style="position: relative; padding-top: 45px;">
  {% include nav.html %}
  <p class="pull-right visible-xs">
    <button class="btn-xs btn btn-primary">Toggle</button>
  </p>
  <div class="container">
    <div class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-tags">
        {% for tag in page.tags %}
        <a href="/allposts/#{{ tag }}">
          <span class="label label-primary">Tag: {{ tag }}</span>
        </a>
        {% endfor %}
      </div>
      <div class="post-date">
        <span class="label label-default">Date: {{ page.date | date_to_string }}</span>
      </div>
    </div><!-- post-header -->
    <div class="post-body">
      <div class="post-content">
        {{ content }}
      </div>
      {% include post-turn.html %}
      {% if page.comments %}
      <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
      <script>
        /**
        *  recommended configuration variables: edit and uncomment the section below to insert dynamic values from your platform or cms.
        *  learn why defining these variables is important: https://disqus.com/admin/universalcode/#configuration-variables
        */
        var disqus_config = function () {
          this.page.url = '{{ page.url | absolute_url }}';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '{{ page.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://mapan1984.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      {% endif %}
    </div><!-- post -->
    <div class="post-tip">
      <div id="toc">
      </div>
      <button type="button" class="btn btn-info btn-sm" id="back-to-top">
        <span clas="glyphicon glyphicon-hand-up" aria-hidden="true"></span> 回到顶部
      </button>
    </div>
  </div><!-- container -->
  <!-- <script src="/scripts/bootstrap.min.js"></script>-->
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/scripts/post.js" type="text/javascript"></script>
</body>
</html>
