<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/stylesheets/post.css"><!-- for post -->
</head>
<body style="position: relative; padding-top: 50px;" data-spy="scroll" data-target=".toc" data-offset="20">
{% include nav.html %}
<div class="container">
    <div class="page-header">
        <h1>{{ page.title }}</h1>
        <div class="post-tags">
            {% for tag in page.tags %}
            <span class="label label-primary">{{ tag }}</span>                
            {% endfor %}
        </div>
        <div class="post-date">
            <span class="label label-info">Date: {{ page.date | date_to_string }}</span>
        </div>
    </div><!-- page-header -->
    <div class="row">
        <div class="col-md-9">
            <div class="post-content">
                 <div class="post-body">
                     {{ content }}
                 </div>
                 {% include post_footer.html %}
             </div><!-- post-content -->
        </div>
        <div class="col-md-3 post-toc">
            <div id="toc" style="display: block;">
            </div>
        </div>
    </div><!-- row -->
</div><!-- container -->
{% include js.html %}
<script src="/javascripts/toc.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#toc').toc();
});
$('body').scrollspy({ target: '.toc' })
</script>
</body>
</html>
