<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include css.html %}
    <link rel="stylesheet" href="/stylesheets/post.css"><!-- for post -->
</head>
<body style="padding-top: 50px;">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </a>
        </div><!-- navbar-header -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">主页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                        role="button" aria-haspopup="true" aria-expanded="false">
                        More<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/">我的主页</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/">退出</a></li>
                    </ul>
                </li>
           </ul>
       </div><!-- navbar-collapse -->
    </div><!--container -->
</div><!-- navbar -->
<div class="container">
    <div class="page-header">
        <h1>{{ page.title }}</h1>
        <div class="post-tags">
            {% for tag in page.tags %}
            <span class="label label-primary">{{ tag }}</span>                
            {% endfor %}
        </div>
        <div class="post-date">
            <span class="label label-info">Date: {{ page.date | date_to_string }}</span>
        </div>
    </div><!-- page-header -->
    <div class="post">
        <div class="post-content">
            <div class="post-body">
                {{ content }}
            </div>
            <div class="post-footer">
                <ul class="pager">
                  {% if page.previous %}
                    <li class="previous"><a href="{{ page.previous.url }}"><span aria-hidden="true">&larr;</span> Older</a></li>
                  {% else %}
                    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                  {% endif %}
                  {% if page.next %}
                    <li class="next"><a href="{{ page.next.url }}">Newer <span aria-hidden="true">&rarr;</span></a></li>
                  {% else %}
                    <li class="next disabled"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                  {% endif %}
                </ul>
            </div><!-- post-footer -->
        </div><!-- post-content -->
    </div><!-- post -->
</div><!-- container -->
{% include js.html %}
</body>
</html>
