---
---
/*
 * Globals variables
 */
$base-font-family: "Microsoft YaHei", Georgia, "Times New Roman", Times, serif;
$base-boder: 1px solid #e0e0e0;
/*
 * Base
 */
body {
    font-family: $base-font-family;
    color: #555;
    background-color: rgba(247, 247, 247, 0.4);
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}
a {
    &:link, visited {
        text-decoration: none;
    }
}
/*
 * post-list
 */
ul.posts {
    list-style-type: none;
    padding: 1px;
    margin: 0px 5px 0px 5px;
    border-top: $base-boder;

    > li.post {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        min-height: 24px;
        border-bottom: $base-boder;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}
/*
 * profile
 */
div.profile {
    margin-top: 20px;
    padding-left: 5px;

    svg {
        width: 14px;
        height: 14px;

        display: inline-block;
        vertical-align: middle;

        path {
            fill: #101010;
        }
    }
}
/*
 * tags-buttons
 */
div.tags-buttons {
    margin-top: 70px;

    a {
        margin: 2px;
    }
}

/*
 * footer
 */
footer {
    padding: 20px 0;
    margin-top: 10px;
    color: #999;
    text-align: center;
    background-color: #222222;
    border-top: 1px solid #e5e5e5;
}
footer p:last-child {
    margin-bottom: 0;
}

// post page
@import "post";
@import "syntax-highlighting";

// allposts page
@import "all-posts";
